{{template "base" .}}


{{define "content"}}
 <div class="container">
     <div class="row">
         <div class="col">
             <h1>Wynajmij domek w górach</h1>
             <a name="About" id="About" class="btn btn-primary" href="\about" role="button">Więcej...</a>
             <img src="/static/images/domek2.jpg" alt="obrazek domku">
         </div>
     </div>

 </div>
 {{end}}