{{template "base" .}}


{{define "content"}}
 <div class="container">
     <div class="row">
         <div class="col">
             <h1>This is home page</h1>
             <p>This is some text</p>
             <a name="About" id="About" class="btn btn-primary" href="\about" role="button">Go to the About page</a>
         </div>
     </div>

 </div>
 {{end}}